@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-[Poppins] bg-gray-50 dark:bg-[#0f172a] text-gray-800 dark:text-gray-200 transition-colors duration-500;
}

* {
  @apply transition-colors duration-500;
}
